<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>medical record - お子さま登録</title>
</head>
<body>
  <main class="login-main">
    <%= render "shared/error_messages", object: @kid %>

    <%= form_for(@kid, url: kids_path, html: { class: "login-form" }) do |f| %>
      
      <!-- 子どもの名前 -->
      <div class="form-group">
        <%= f.label :name, "お子さまの名前" %>
        <%= f.text_field :name, autofocus: true, class: "form-control" %>
      </div>

      <!-- 生年月日 -->
      <div class="form-group">
        <%= f.label :birthday, "生年月日" %>
        <%= f.date_field :birthday, class: "form-control" %>
      </div>

      <div class="form-actions">
        <%= f.submit "登録", class: "login-button" %>
      </div>
    <% end %>
  </main>
</body>
</html>
