<!-- 動作確認用 仮コード -->
<h1>体調不良を記録する</h1>

<%= form_with model: [@kid, @reported_symptom], local: true do |f| %>
  <div>
    <%= f.label :start_date, "記録開始日" %>
    <%= f.date_field :start_date %>
  </div>

  <div>
    <%= f.label :end_at, "記録終了日（任意）" %>
    <%= f.date_field :end_at %>
  </div>

  <div>
    <%= f.submit "記録を作成" %>
  </div>
<% end %>
