<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Medical Record App" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload", media: "all" %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= javascript_importmap_tags %>
    <%= yield :head %>
  </head>

  <body>
  <header class="site-header">
    <h2>medical record</h2>
    <nav class="nav-menu">
      <% if user_signed_in? %>
        <% if current_kid.present? %>
          <%= link_to "記録", new_kid_reported_symptom_path(current_kid), class: "nav-button" %>
          <%= link_to "サマリー", summary_kid_reported_symptoms_path(current_kid), class: "nav-button" %>
        <% end %>
        <%= button_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-button" %>
      <% end %>
    </nav>
  </header>

    <%= yield %>
  </body>
</html>
